* {
  box-sizing: border-box;
}

html:has(.profile-card-example) {
  height: 100vh;
}

body:has(.profile-card-example) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans;
  color: #E0E0E0;
  overflow-x: hidden;
  background: #F8E1E1;

}

article.profile-card-example {
  background-image: url("/ikzelf.jpg") ;
  background-position: center 64%;
  background-size: cover;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 88vw;
  border-radius: 1rem;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, .1);
  transition: all 0.5s ease;
}

figure {
  img {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100px;
  }
}