* {
  box-sizing: border-box;
  font-family:monospace;
  font-style: italic;
}

html:has(.profile-card-example) {
  height: 100%;
}

body:has(.profile-card-example) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #E0E0E0;
  background: #F8E1E1;
}

article.profile-card-example {
  background-image: url("/ikzelf.jpg") ;
  background-position: center 64%;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 80%;
  border-radius: 1rem;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, .1);
}

.intro {
  background-color: #800000;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1.3em;
  font-size: 1.1em;
  line-height: 1.1em;
}

figure {
  img {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100px;
  }
}

details {
  position:fixed;
  top:0;
  width:100%;
  background:#333;
  z-index:1;
}