* {
  box-sizing: border-box;
  font-family: monospace;
  font-style: italic;
  list-style: none;
}

html:has(.profile-card) {
  height: 100%;
}

body:has(.profile-card) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #E0E0E0;
  background: #F8E1E1;
}

section.profile-card {
  background-image: url("/ikzelf.jpg") ;
  background-position: center top 200%;
  background-size: 125%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 80%;
  border-radius: 1rem;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, .1);

  .title {
    font-size: 20px;
    align-self: flex-end;
    text-align: right;
    padding-right: 1em;
    margin: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85),
      transparent
    );

    h1,
    h2 {
      margin-bottom: 0;
    }

    p {
      font-size: 16px;
      margin: 0;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-top: 1em;
    margin-right: 4.5em;
    gap: .6em;
  }

  button {
    border-radius: 30%;

    &:hover {
      background-color: #a91717;
    }
  }

  .intro {
    background-color: #800000;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding: 1.3em;
    font-size: 16px;
    line-height: 1em;
    border-radius: 0 0 1rem 1rem;
    background: linear-gradient(
      to top,
      #7d6d6d,
      #292929
    );
  }

  h3 {
    font-size: 20px;
  }
}

:popover-open {
  figure{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 30em;
    justify-content: center;
    text-align: center;

    h4 {
      grid-row: 2;
      grid-column: 2;
      text-align: center;
    }

    img {
      object-fit: cover;
      aspect-ratio: 1/1;
      width: 100px;
      grid-row: 3;
    }

    p {
      grid-row: 2;
      grid-column: 1/3;
    }
  }
}

details {
  position:fixed;
  top:0;
  width:100%;
  background:#353535;
  z-index:1;
}